<h2>СИНТАКСИС ШАБЛОНОВ</h2>
<h3>Data Binding</h3>
<p>db.1 From the Component to the DOM</p>
<ul>
  <li>Interpolation: {{ value }}</li>
  <li>Property binding: [property]=”value”</li>
</ul>
<p>db.2 From the DOM to the Component</p>
<ul>
  <li>Event binding: (event)=”function”
    <ul>
      <li>click</li>
      <li>input для input</li>
      <li>keydown.enter для input</li>
    </ul>
  </li>
</ul>
<p>db.3 Two-way</p>
<ul>
  <li>Two-way data binding: [(ngModel)]=”value”</li>
</ul>

<h3>Anchor</h3>
<p [style.color]="myColor">Введите название цвета, чтобы изменить цвет текста</p>
<input type="text" #anchorColor>
<button (click)="changeColor(anchorColor.value)">Изменить цвет текста</button>

<h3>Nested component -> transfer data (декоратор @Input)</h3>
<app-nested [user]="girls[0]"></app-nested>

<h2>КОМПОНЕНТЫ И ДИРЕКТИВЫ</h2>
<h3>Directive</h3>
<p>Дополнительная инструкция к компоненту, которая расширяет компонент;
  <br>директива является атрибутом для элемента;
  <br>* - характерна для специальных директив</p>
<p *ngIf="isShown">d.1 Работа директивы ngIf</p>
<button (click)="isShown = !isShown">Переключатель true\false</button>
<p>d.2 Работа директивы ngFor</p>
<ul>
  <li *ngFor="let i of [1,2,3]">
    {{i}}
  </li>
</ul>
<ol>
  <li *ngFor="let girl of girls">
    <app-nested [user]="girl" (userSelectEvent)="selectedUser = girl"></app-nested>
  </li>
</ol>

<h3>Nested component -> transfer data (декоратор @Output)</h3>
<p>td.2 from child/nested to parent (отобразится при клике): {{selectedUser?.name}}</p>

<h3>Projection (проекция) через ng-content - удобно для гибкой проекции контента внутрь template</h3>
<app-projection>
  <b>Projection header</b>
  <div>Some more information</div>
</app-projection>

<h3>Атрибут директива. Команда ng g d имя создает два файла .ts и .spec.ts.</h3>
<div appColory #changecolor1="colory">
  Some text
</div>
<app-nested
  appColory 
  [user]="girls[0]"
  #changecolor2="colory"
  ></app-nested>

<h3>Структурная директива.</h3>
<p>* - обозначает структурную директиву. Что значит она может не только менять свойства элемента, но и манипулировать DOM (добавлять, удалять).</p>
<div *ngFor="let delay of [1,2,3,4,5,6]">
  <div *appDelay="delay">Some text 1</div>
</div>
<p>Запись через *appDelay идентична записи через обрамление ng-template и структурную директиву [appDelay]</p>
  <ng-template [appDelay]="10">
    <div>Some text 2</div>
  </ng-template>

<h3>Экспорт контроллера директивы (опция exportAs)</h3>
<button (click)="changecolor1.setRandomColor(); changecolor2.setRandomColor()">Также меняет цвет атрибут директив</button>

<h3>Динамические компоненты</h3>
<p>Выводится по умолчанию в конце страницы</p>

<h2>СЕРВИСЫ, ВНЕДРЕНИЕ ЗАВИСИМОСТЕЙ</h2>
-для хранения данных, для манипуляции с данными, для запросов к другим источникам данных.

<h3>Создание и использование сервисов</h3>
(паттерн Dependency Injection)
<ol>
  <li *ngFor="let girl of girls">
    {{ girl.name }}
  </li>
</ol>

<h3></h3>
<h3></h3>
<h3></h3>
<h3></h3>
<h3></h3>

<h2>РЕАКТИВНЫЕ ФОРМЫ</h2>
<h3>Forms</h3>
f.1 FormControl для одного инпута<br>
<input [formControl]="nameControl"><br>
f.2 FormGroup для нескольких <br>
<fieldset [formGroup]="fullNameControl">
    <input formControlName="firstName" type="text">
    <input formControlName="lastName" type="text">
</fieldset>
f.3 FormArray или FormBuilder для списка (например) инпутов
<form [formGroup]="usersListControl">
  <ul formArrayName="animals">
    <li *ngFor="let animal of usersListControl.controls.animals.controls; let i = index">
      <input formControlName="{{i}}">
      <button (click)="removeUserControl()">Remove</button>
    </li>
  </ul>
  <button (click)="addUserControl()">Add user</button>
</form>

<h3>Получение списка через сервис и Базовый CRUD</h3>
<ul>
  <li *ngFor="let girl of girls">
    {{ girl.name }}
    <span (click)="removeGirl(girl.name)">x</span>
  </li>
</ul>
<input type="text" #girlName><button (click)="addGirl(girlName.value); girlName.value='';">Добавить!</button>

<router-outlet></router-outlet>
