<h2>Data Binding</h2>
<p>db.1 From the Component to the DOM</p>
<ul>
  <li>Interpolation: {{ value }}</li>
  <li>Property binding: [property]=”value”</li>
</ul>
<p>db.2 From the DOM to the Component</p>
<ul>
  <li>Event binding: (event)=”function”
    <ul>
      <li>click</li>
      <li>input для input</li>
      <li>keydown.enter для input</li>
    </ul>
  </li>
</ul>
<p>db.3 Two-way</p>
<ul>
  <li>Two-way data binding: [(ngModel)]=”value”</li>
</ul>

<h2>Anchor</h2>
<p [style.color]="myColor">Введите название цвета, чтобы изменить цвет текста</p>
<input type="text" #anchorColor>
<button (click)="changeColor(anchorColor.value)">Изменить цвет текста</button>

<h2>Nested component</h2>
<app-nested [user]="girls"></app-nested>

<h2>Directive</h2>
<p>Дополнительная инструкция к компоненту, которая расширяет компонент;
  <br>директива является атрибутом для элемента;
  <br>* - характерна для специальных директив</p>
<p *ngIf="isShown">d.1 Работа директивы ngIf</p>
<button (click)="isShown = !isShown">Переключатель true\false</button>

<p>d.2 Работа директивы ngFor</p>
<ul>
  <li *ngFor="let i of [1,2,3]">
    {{i}}
  </li>
</ul>

<router-outlet></router-outlet>
